@font-face {
	font-family: 'Nanum Gothic';
	font-weight: 700;
	font-display: swap;
	src: local('Nanum Gothic Bold'), url('../fonts/NanumGothic-Bold.ttf') format('truetype')
}

@font-face {
	font-family: 'Nanum Gothic';
	font-weight: 400;
	font-display: swap;
	src: local('Nanum Gothic Regular'), url('../fonts/NanumGothic-Regular.ttf') format('truetype')
}
