@import '../default/font.css';
@import '../default/reset.css';

@import './abstracts/functions';
@import './abstracts/mixins';
@import './abstracts/variables';
// common
body {
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  display: block;
}

// header
.header-container {
  background-color: royalblue;
  .header-area {
    position: relative;
    // @include flex(row, center, center);
    width: 1100px;
    height: 120px;
    margin: 0 auto;
    background-color: orange;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 75px;
  }
}
