@import './abstracts/functions';
@import './abstracts/mixins';
@import './abstracts/variables';

// 1280 이하일때 
@include breakpoint(1280px) {
  .section {
    background-color: purple;
  }
}

//1130 이하일때 
@include breakpoint(1130px) {
  .section {
    background-color: blue;
  }
}

//768 이상 1023px이하일때
@include tablet {
  .section {
    background-color: yellow;
    font-size: 30px;
  }
}
//360 이상 767px이하일때
@include mobile {
  .section {
    background-color: green;
    font-size: 20px;
  }
}

//320 이하일때 
@include breakpoint(320px) {
  .section {
    background-color: blue;
  }
}