/*
Copyright (c) 2021 Kil Hyung-jin, with Reserved Font Name Pretendard.
https://github.com/orioncactus/pretendard

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
*/

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('../fonts/Pretendard/Pretendard-ExtraBold.woff2') format('woff'), url('../fonts/Pretendard/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../fonts/Pretendard/Pretendard-Bold.woff2') format('woff'), url('../fonts/Pretendard/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('../fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-SemiBold.woff') format('woff');
}


@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../fonts/Pretendard/Pretendard-Medium.woff2') format('woff'), url('../fonts/Pretendard/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../fonts/Pretendard/Pretendard-Regular.woff2') format('woff'), url('../fonts/Pretendard/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('../fonts/Pretendard/Pretendard-Light.woff2') format('woff'), url('../fonts/Pretendard/Pretendard-Light.woff') format('woff');
}

/* Rubik */
@font-face {
	font-family: 'Rubik';
	font-weight: 300;
	font-display: swap;
	src: local('Rubik Light'), url('../fonts/Rubik/Rubik-Light.ttf') format('truetype');
}

/* Roboto */
@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-display: swap;
	src: local('Rubik Light'), url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}